<link rel="stylesheet" href="./style.css" />

<div class="container">

   <div class="header">&nbsp;</div>

   <h1>Few words about JavaScript development</h1>

   <i>The following words are intended primarily to novices in the JavaScript world.</i>

   <p>
      During the first serious steps with JavaScript it can be realized that so many tools to manage, build, test,
      debug and deploy the application are necessary. And there are many good and bad tools in the market.
      In opposite to development of .Net or Java applications where most of these tools are standardized and
      included or supported directly by IDE's, although it can time to time painful to learn to configure them
      correctly and force to do them desired tasks, they are there and usually very useful. Moreover there are
      tons of good and bad libraries usable in applications available released under less or more restrictive
      license but fortunately always open source. Some of tools and libraries are well maintained, some of them
      not. Sometimes there is a good discussion with developers about issues or features, sometimes not.
   </p>

   <p>
      It can be also found that there are many ECMA Script specifications (or better said versions) and no all
      versions are fully supported by the targeted runtime environment. For example NodeJS somehow supports
      ESNext but not all features are directly supported yet or are in experimental versions only. Internet Explorer 11
      still widely used in Enterprise especially from historical reasons supports ES5 version only. Firefox and Chrome
      usually somehow support ESNext. And even in ES5 version supported less or more by all environments there
      can be found differences in implementation. In order not just to scare it is necessary to say that the standardization
      process works well and it is changing in the right way for last few years. As the new Edge browser is using the same
      engine as Chrome now things gets little less complicated. But still there are other engines included in WebKit or Gecko
      which are major version of browser engines used these days.
   </p>

   <p>
      So what is usually necessary to know is what IDE, tools and libraries to use and how to configure them properly to
      achieve desired results. It takes some time to get oriented in it, test it and choose the right ones. It looks scary. And
      it is. Those who come form Delphi, .Net or Java world could feel like Alice in Wonderland. Those who come from Linux
      world and have experiences with using command line tools, various code repositories, package managers and those who
      are using Vim and command line GDB as their primary development IDE will feel almost like home. Although these
      developers are admirable only few of them are able to manage big projects effectively using these tools.
   </p>

   <p>
      The following list of tools used for development and deployment of the JavaScript applications from scratch comes
      from previous research and experience but does not necessarily need to be agreed, followed, complete or correct.
   </p>

   <h3><i>Integrated Development Environment</i></h3>

   <p>
      The first tool to be mentioned is IDE (Integrated Development Environment). Choosing the right ide takes some time.
      These days, there are plenty of text editors useful for application development but they are not real IDEs. IDE usually
      allows to create and manage projects or solutions, manage its sources, supports code highlighting, code completion,
      can navigate to code in various ways, it can display the code documentation, supports refactoring tasks, supports the
      code repository such as Git, it can build the final code, run it, debug it or run tests of it in the desired target environment
      display errors and helping with code errors or warnings and many many more. Good IDE is also extensible and highly
      configurable. Some IDEs are free to use, some are commercial, some are multiplatform, some are not, some support
      required languages, tools and features, others don't.
   </p>

   <p>
      <strong>Microsoft Visual Studio Code</strong> is example of multiplatform IDE with good support of all mentioned features and is
      recommended to be used in case when only JavaScript application is being developed mainly because it has integrated
      support for the TypeScript language and these two project closely collaborate together. It works really well. Moreover
      Visual Studio Code is free. Of course, its different from other "full" IDE's such as Visual Studio, Net Beans, or Eclipse.
      For novices it can be found hard to get oriented in it and especially configure it as most of the configuration is
      done in JSON text files. Also, running commands requires remembering names of these commands what is not ideal from
      user experience perspective. It is required to read of a lot of documentation but after some time it works well.
   </p>

   <p>
      <strong>Microsoft Visual Studio (multiple versions)</strong> is recommended in case the JavaScript application is developed together
      with another language, such as .Net (i.e. for backend). Unfortunately, Visual Studio is not multiplatform. It is very
      complex IDE with so many features (in dependence on the version) but the basics are intuitive and simple to understand.
      TypeScript language is also built in the IDE and works well.
   </p>

   <h3><i>Language to be used</i></h3>

   <p>
      Development of big applications using <strong>Vanila JavaScript</strong> (or pure JavaScript) is not impossible, but it is a hard task, especially
      because ECMA Script is type-less language and it is hard to convince IDE's to correctly display code completion or documentation,
      and helping with code refactoring even if JSDoc is used. Also, it is impossible to statically check types which prevents missuse of
      data types or libraries. There are some "ECMAScript extensions" in the market which helps to solve this problem. Mentioned can be for
      example <strong>CoffeeScript</strong>, <strong>TypeScript</strong> or <strong>Flow</strong>. Also, completely different languages which are not based on ECMA Script can be transpiled
      to it. Some of languages are directly supported by IDE's and build tool environments, some of them are supported as plugins, some of
      them are not supported by IDE or build tools at all.
   </p>

   <p>
      It hardly depends on development team requirements and targets and skills what language will be used. But it definitely should help to
      developers to produce the code which is effectively maintainable with as less as possible effort. When language is being chosen it should
      be considered if tools to transpile it to ECMA Script are well maintained and supported and also it should be estimated if this will be valid
      in future, ideally through whole life of the software product.
   </p>

   <p>
      Next chapters (and previous also) presumes the <strong>TypeScript</strong> language has been chosen for the development and it is is also recommended from
      multiple reasons. Language itself and its tools are relatively well documented, continuously under development and support, regularly extended,
      supported by IDE's, allows static type checking and the code somehow self documents itself, provides good code maintainability and extensibility,
      seems to be developed and supported for long time, tools and docs are released under OpenSource MIT license...
   </p>

   <h3><i>Build Tool Chain</i></h3>


   <h3><i>Code Testing</i></h3>


   <h3><i>3rd Party Libraries (packages)</i></h3>


   <div class="footer">
      <hr/>
      Copyright &copy;2020 Atom Software Studios, s.r.o.<br/>
      František Novák
   </div>

</div>
