html {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 1.1em;
   line-height: 1.4em;
   background-color: #1E1E1E;
   color: #AAAAAA;
}

p {
   text-align: justify;
}

h1 {
   line-height: 1.3em;
}

strong {
   color: #CCCCCC;
   font-style: italic;
}

.container {
   margin: auto;
   padding-left: 5%;
   padding-right: 5%;
}

.header {
   height: 5%;
}

.footer {
   text-align: right;
}

